#Directory can be recreated using init
.terraform/

#State files(everthing that was created)
*.tfstate
*.tfstate.*

crash.log
crash.*.log

#Variable files
*.tfvars
*.tfvars.json

#Local customization
override.tf
override.tf.json
*_override.tf
*_override.tf.json

#Personal Terraform CLI settings
.terraformrc
.terraform.rc

#Private keys and certificates
*.pem
*.key
*.pfx
*.p12

#Environment files
.env
.env.*
*.local

#VS Code workspace settings
.vscode/